mutt/mutt.symlink/accounts
mutt/mutt.symlink/cache
mutt/mutt.symlink/certificates
mutt/mutt.symlink/mutt-colors-solarized/
mutt/mutt.symlink/mutt.symlink
mutt/mutt.symlink/muttrc.aliases
mutt/mutt.symlink/temp
vim/vim.symlink/.netrwhist
vim/vim.symlink/tmp/
vim/vim.symlink/vim.symlink
xmonad/xmonad.symlink/xmonad-i386-linux
xmonad/xmonad.symlink/xmonad.errors
xmonad/xmonad.symlink/xmonad.hi
xmonad/xmonad.symlink/xmonad.o
xmonad/xmonad.symlink/xmonad.symlink
xmonad/xmonad.symlink/xmonad-x86_64-linux
pandoc/pandoc.symlink/reference.docx.temp
ls-R
mutt/mutt.symlink/Equifax_Secure_CA.cert
