@Article{     ${1},
  author    = {${2}},
  title     = {${3}},
  shorttitle   = {${4}},
  journal   = {${5}},
  volume    = {${6}},
  number    = {${7}},
  year      = {${8}},
  pages     = {${9}}
  url       = {${10}},
  doi       = {${11}},
}
