@InCollection {       ${1}:${2}:${3:},
  author    = {${4}},
  title     = {${5}},
  booktitle = {$6}},
  shorttitle   = {},
  address   = {${7}},
  publisher = {${8}},
  year      = {$3},
  edition   = {${9}},
  editor    = {${10}},
  pages	    = {${11}},
  xnotes    = {${12}}
}


