snippet codehead "Header block for code files"
# ${1:Program description}

# Lincoln A. Mullen | lincoln@lincolnmullen.com | http://lincolnmullen.com
# MIT License <http://lmullen.mit-license.org/>
endsnippet
