snippet codehead "Header block for code files"
# ${1:Program description}

# Lincoln A. Mullen | lincoln@lincolnmullen.com | http://lincolnmullen.com
# MIT License <http://lmullen.mit-license.org/>
endsnippet

snippet # "--"
# -------------------------------------------------------------------
endsnippet

snippet -- "--"
-------------------------------------------------------------------
endsnippet

snippet date "Date"
`!v strftime("%Y-%m-%d")`
endsnippet
