# Configuration files
snippet # "--"
# -------------------------------------------------------------------
endsnippet

snippet -- "--"
-------------------------------------------------------------------
endsnippet
