snippet dthree "Script link to d3.js"
<script src="http://d3js.org/d3.v3.min.js"></script>
endsnippet

snippet topojson "Script link to topojson.js"
<script src="http://d3js.org/topojson.v1.min.js"></script>
endsnippet

snippet jquery "Script link to jQuery"
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
endsnippet

snippet jqueryui "Script link to jQuery UI"
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
endsnippet
