snippet php "<?php ?>" b
<?php 

$0
 
?>
endsnippet

snippet <> "<?php ?>"
<?php $0 ?>
endsnippet

snippet doc "Documentation header"
/**
 * Catalog Search Plugin
 *
 * @copyright Copyright 2013 Lincoln A. Mullen
 * @license http://www.gnu.org/licenses/gpl-3.0.txt GNU GPLv3
 *
 */
endsnippet

snippet com "Function comment"
/**
 * $0
 */
endsnippet
