snippet source "Rubygems source"
source "https://rubygems.org"
$0
endsnippet

snippet gem "Gem"
gem "$1"
$0
endsnippet

snippet server "Rake task for server"
task :server do
  sh "ruby -run -e httpd . -p 4000"
end
endsnippet
