<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.lmullen.remove-old-downloads</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/lmullen/go/bin/remove-old-downloads</string>
    </array>

    <key>StartInterval</key>
    <integer>3600</integer>

    <key>StandardOutPath</key>
    <string>/tmp/remove-old-downloads.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/remove-old-downloads.err</string>
</dict>
</plist>
